doctype html
meta(content="text/html;charset=utf-8",http-equiv="Content-Type")
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Edit User
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="https://redirector.eservice.emarsys.net/ui/latest/css/app.css")
        script(src="https://redirector.eservice.emarsys.net/ui/latest/js/app.js") 
    body 
    div.wrap
        form(action="/user/edit/" + `${username}`, method="post") 
            h2 Edit user
            div.container
                div(style="color: red")= msg
                label(for="name") Name 
                input#name(type="text", name="name", placeholder="Enter Username", value=nameholder)
                label(for="bday") Birthday 
                //- input#bDay(type="date", name="birthday", placeholder="Enter Username", value=bdayholder)
                e-datepicker(no-clear,name="birthday", placeholder="Enter Username", value=moment(bdayholder).format("DD/MM/YYYY"))
                button(type="submit", onClick="return confirm('Are you sure to save your profile?')") submit 
